<head>
	<title>ClassLibrary</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="js/bootstrap.js"></script>
	<!--<link href="bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
	<div>
	<div class="fixed_header">
		<p style = "font-size:25px;text-align:center;"> COGS 120</p>
	</div>
	<div style="position:fixed; top:0">
		<script>
			function goBack() {
  				window.history.back();
			}
		</script>
		<button onclick="goBack()" class="back-button"><</button>
	</div>
	<div style="margin:100px auto;"><div class="column">
		{{#each readings}}
		<div><button onclick="window.location.href='/index/read'"class = "reading-card"><div>
			<p>{{title}}<b><br>{{number}}</b></p>
		</div></button></div>
		{{/each}}
	</div></div>

	<nav class = "navigationbar">
		<a href="/" class = "nav_bar nav_bar--active">
			<span class="material-icons">import_contacts</span>
			<span class="navBar_text">Library</span>
		</a>

		<a href="/upload" class = "nav_bar">
			<span class="material-icons">add</span>
			<span class="navBar_text">Upload</span>
		</a>

		<a href="/forum" class = "nav_bar">
			<span class="material-icons">forum</span>
			<span class="navBar_text">Forum</span>
		</a>
	</nav>
		
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>