<html>
<head>
	<title>Forum</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="../js/bootstrap.js"></script>
	<!--<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="../css/forum.css" rel="stylesheet">

</head>

<body>
<div>
	<script>
		function goBack() {
  			window.history.back();
		}
	</script>
	<button onclick="goBack()" class="back-button"><</button>
	<div class="question_page">
		<div class="enter-question">
			<p style="margin:10px;">Question:</p>
		</div>
		<div class="question_options">
			<p style="margin:5px;">
				Class: <span class="question_selected">COGS 100</span>
				<button class="option_button">></button>
			</p>
		</div>
		<div class="question_options">
			<p style="margin:5px;">
				Reading: <span class="question_selected">Distributed Cognition</span>
				<button class="option_button">></button>
			</p>
		</div>
		<div class="question_options">
			<p style="margin:5px;">
				Passage (optional): <br><span class="question_selected" style="font-size:15px;">For example, distributed cognition in the libr...</span>
				<button class="option_button">></button>
			</p>
		</div>
		<div class="question_options" style="margin-bottom:20px"></div>
		<div style="text-align:center;">
			<button onclick="goBack()" class="new-question-button" style="width:145px;">↵Cancel</button>
			<button class="new-question-button" style="width:145px; margin-left:20%">↑ Post</button>
		</div>
	</div>
</body>
</html>
