<html>
<head>
	<title>GroupReads</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/GroupRead.css" rel="stylesheet">
	<link href="/css/library-home.css" rel="stylesheet">
	<!-- /Added -->

</head>

<body>
<div class="phone">
	<div class = "row">
			{{#each classname}}
			<div class="column">
				<button class="class-card"><div>
				<p class="class-card.cont">{{class}}</p>
			</div></button>
			</div>
			{{/each}}
		</div>
		<nav class="navigationbar">
			<ul class="mobile-nav">
				<li><a href="/">Library</a></li>
				<li><a href="/upload">Upload</a></li>
				<li><a href="/forum">Forum</a></li>
			</ul>
		</nav>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>