<html>
<head>
	<title>GroupReads</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/GroupRead.css" rel="stylesheet">
	<!-- /Added -->

</head>

<body>
<div class="phone">
Begin here (or replace this with any static code already written).
</div>
		<nav class="navigationbar">
			<ul class="mobile-nav">
				<li><a href="/">Library</a></li>
				<li><a href="/upload">Upload</a></li>
				<li><a href="/forum">Forum</a></li>
			</ul>
		</nav>
</body>
</html>
