<html>
<head>
	<title>ReadLibrary</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<!--- Added Bootstrap -->
	<link href="./bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="./css/library-home.css" rel="stylesheet">

</head>

<body>
	<div class="phone">
		<div class="annotations-header">
		<p style = "font-size:25px;text-align:center;margin-top:25px;border: 1px solid #000000; ">highlighter</p>
		<div class ="back-buttom">
			<button onclick="goBack()"> <b> < </b> </button>
			<script>
			function goBack() {
  			window.history.back();
			}
		</script> </div>
	</div>
		
	</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="./js/bootstrap.min.js"></script>

</body>
</html>