
<html>
<head>
	<title>ReadLibrary</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="/js/bootstrap.js"></script>
	<link href="/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/library-home.css" rel="stylesheet">
</head>
<body>
	<div class="phone">
		<div class="class-header">
		<p style = "font-size:25px;text-align:center;margin-top:25px;"> Highlighter</p>
			<div class ="back-buttom">
			<button onclick="goBack()"> <b> < </b> </button>
			<script>
			function goBack() {
  			window.history.back();
			}
		</script> </div>
	</div>
		<div class="word-content">
		<h2> COGS120 Reading 1 <br><b> Participant Observation </b><br> </h2>
			<p style = "font-size:25px;text-align:left;margin-top:25px;" >
Jill is a researcher at a local university. She has just been tasked with studying how technology is being used in foreign language classrooms to enhance student learning. Though Jill is optimistic about her project, she has no idea how she is going to conduct her study. After speaking to her colleagues, Jill decides that it would be best for her to use participant observation to collect her research data. So what exactly is participant observation?

Participant observation is a qualitative research method in which the researcher not only observes the research participants, but also actively engages in the activities of the research participants. This requires the researcher to become </p>
</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>