<html>
<head>
	<title>ReadLibrary</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="../js/bootstrap.js"></script>
	<!--<link href="bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="../css/forum.css" rel="stylesheet">
	<link href="../css/library-home.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	
</head>
<body style="margin:0;">
	<div>
	<div class="fixed_header">
		<a href="" class= "highlight-icon">
			<span style= "position: fixed;"class="material-icons">edit</span>
			<span class="highlight-icon_text"></span>
		</a>
		<button style= "position: fixed; top: 0; margin: 23px 50px 0 70%" class ="highlighter-ops hlButton1">yellow</button>

		<!--I was trying out a different way-->
		<!--<button onclick="selectedText()" style= "position: fixed; top: 0;  margin: 23px 50px 0 70%px; display:inline-block" class ="highlighter-ops hlButton2">blue</button>-->
		<!--<a href= "select" style= "display:inline-block" class ="highlighter-ops highlighter-ops--active">
			<span style= "color: lightblue"class="material-icons">lens</span>
		</a>
		<a href="select" style= "display:inline-block" class ="highlighter-ops highlighter-ops--active">
			<span style= "color: green"class="material-icons">lens</span>
		</a>-->


	</div>
	<div style= "position: fixed; top: 0; right:0;">
		<a href="/forum/question" class = "forum-icon forum-icon--active">
		 <!--<button onclick="window.location.href='/forum'" class="material-icons">forum</button>-->
			<span class="material-icons">forum</span>		 
			<span class="forum-icon_text">Forum</span>
		</a>

	</div>

	<div style="position:fixed; top:0;">
		<script>
			function goBack() {
  				window.history.back();
			}
		</script>
		<button onclick="goBack()" class="back-button"><</button>
	</div>
	<div class="word-content" style="margin-top:100px">
		<h2> COGS120 Reading 1 <br><b> Participant Observation </b><br> </h2>
		<p style = "font-size:25px;text-align:left;margin-top:25px;">
Jill is a researcher at a local university. She has just been tasked with studying how technology is being used in foreign language classrooms to enhance student learning. Though Jill is optimistic about her project, she has no idea how she is going to conduct her study. After speaking to her colleagues, Jill decides that it would be best for her to use participant observation to collect her research data. So what exactly is participant observation?
<br>
Participant observation is a qualitative research method in which the researcher not only observes the research participants, but also actively engages in the activities of the research participants. This requires the researcher to become integrated into the participants' environment while also taking objective notes about what is going on. Most researchers who conduct participant observations take on the role that they are interested in studying. In Jill's case, she might enroll in an actual foreign language course, complete all assigned homework and classwork, and attend field trips just as any regular student enrolled in the class would. Jill would also have informal conversations with other students in the class and the teacher. Jill would keep a detailed record of all assignments and take detailed notes about what she observes and what happened during her encounters with her classmates and teachers. Jill would also keep notes about technology usage, classroom norms and expectations, and any other information that she finds useful.
<br>
There are three important pieces of participant observation:<br>
1. Gaining entry into the location you wish to study<br>
2. Establishing rapport with the research participants under investigation<br>
3. Making sure you spend enough time with the research participants in the environment to get a sufficient amount of data for your study<br>
<br>
Why Use Participant Observation?<br>
There are many reasons that researchers choose to use participant observation. Participant observation provides the researcher with access to different types of information that may not be easily accessible to outsiders. For example, students who are not enrolled in the foreign language class may not know what the rules and expectations are like in the classrooms or the nature of the interactions between the students and the teacher.
<br>
Participant observers integrate themselves into the environment and are often considered part of the culture and group. It is not uncommon for research participants to forget that they are being observed, which reduces the likelihood that research participants will modify their behavior or try to 'act well' because they are being observed. They might consider Jill a part of the group and act as they normally would around her.
<br>
Participant observations help the researcher decide which questions are relevant, what language to use, and what the culture is like. By being a part of the group, Jill can get a better feel of what is important to the research participants. She can also pick up on the language that they use and what certain words mean. If Jill decided to conduct research interviews later, she could use her background knowledge of the participants to help her create research questions.</p>
	</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>