<html>
<head>
	<title>Registeration</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="js/bootstrap.js"></script>
	<!--<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">
	<link href="css/login-register.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

	<!-- /Added -->

</head>

<body>
	<div class="center">
		<h1 class="head_text">
			Welcome! New user
		</h1>
		<form id="registerationForm" method="get" action="/">
		    <div class="box">
		      <div class="label_text"><label for="email">email *<br></label></div>
		      <input type="text" id="email" name="email" class="input_box" required>
		      <!-- TODO: check whether email has been registered. -->
		    </div>
		    <div class="box">
		      <label for="username" class="label_text">username<br></label>
		      <input type="text" id="username" name="username" class="input_box">
		    </div>
		    <div class="box">
		      <label for="password" class="label_text">new password *<br></label>
		      <input type="password" id="password" name="password" class="input_box" required>
		      <!-- TODO: check for safety level. -->
		    </div>
		    <div class="box">
		      <label for="password_confirm" class="label_text">confirm password *<br></label>
		      <input type="password" id="password" name="password" class="input_box" required>
		      <!-- TODO: check whether it is the same password. -->
		    </div>
		    <div class="box">
		      <input type="text" name="find_school" class="search_box" placeholder="my school">
		      <button class="material-icons search_button">search</button>
		    </div>
			<input type="submit" id="submitBtn" class="login_button" value="Register"></input>
		</form>
		<div class="bottom_text"><p>Have an account? <a href="/login"><b>Login Here</b></a></p></div>
	</div>
</body>
</html>