<html>
<head>
	<title>Upload</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
	<script src="js/bootstrap.js"></script>
	<!--<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

	<!-- /Added -->

</head>

<body>
	<div>
		<div class="upload_reading_text">
			<h2>Upload Reading</h2>
		</div>
		<div class="upload_box">
			<div class = "upload_dropdown">
				<button class="upload_method">Upload Method</button>
				<div id = "upload_drop" class = "dropdown_options">
					<a href="/upload_url">URL</a>
					<a href="/upload_scan">Scan</a>
					<a href="/upload_file">Upload File</a>
				</div>
			</div>

			<script>
				let click = document.querySelector('.upload_method');
				let list =  document.querySelector('.dropdown_options')
				click.addEventListener("click",()=>{
					list.classList.toggle('newdropdown_options')
				})
			</script>

			<div>
				<select class = "class-options">
					{{#each classname}}
			        <option value = "class_name">{{class}}</option>
			        {{/each}}
		      	</select>
			</div>		

			<div><button onclick="window.location.href='/upload_success'" class="upload_button">Upload</button></div>
		</div>
	</div>
	
	<nav class = "navigationbar">
		<a href="/" class = "nav_bar">
			<span class="material-icons">import_contacts</span>
			<span class="navBar_text">Library</span>
		</a>

		<a href="/upload" class = "nav_bar nav_bar--active">
			<span class="material-icons">add</span>
			<span class="navBar_text">Upload</span>
		</a>

		<a href="/forum" class = "nav_bar">
			<span class="material-icons">forum</span>
			<span class="navBar_text">Forum</span>
		</a>
	</nav>
</body>
</html>
