.upload_reading_text{
  text-align: center;
  margin-top: 221px;
}


.upload_method{ 
  position: absolute;
  width: 322px;
  top: 325px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  margin-left: 45px;
  text-align: left;
  font-size: 16px;
}

.class_selection{
  position: absolute;
  width: 322px;
  top: 383px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  margin-left: 45px;
  text-align: left;
  font-size: 16px;
}

.upload_button{
  position: absolute;
  width: 104px;
  top: 445px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  margin-left: 155px;
  font-size: 20px;

}

.upload_box {
  width: 354px;
  height: 204px;
  margin-top: 29px;
  margin-left: 27px;
  padding: 15px;
  border:none;
  background: #DADADA;
  border-radius: 10px;
}






