.upload_reading_text{
  text-align: center;
  margin-top: 25vh;
}

.upload_box{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 354px;
  height: 204px;
  padding: 15px;
  border:none;
  background: #DADADA;
  border-radius: 10px;
}

.upload_method{ 
  width: 322px;
  margin-top: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}

.class_selection{
  width: 322px;
  margin-top: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}

.upload_button{
  width: 104px;
  margin-top: 30px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  font-size: 20px;
}

.scan_buttons{
  width: 104px;
  margin-top: 30px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  font-size: 20px;
}

.upload_method{
  cursor: pointer;
}

.upload_method:hover, .upload_method:focus {
  background-color: #ECECEC; 
}

.upload_dropdown{
  position: relative;
  display: inline-block;
}

.dropdown_options{
  display: block;
  position: absolute;
  background-color: #AFAFAF;
  min-width: 322px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
  z-index: 1; 
}

.dropdown_options a{
  color: #000000;
  padding: 12px  16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.dropdown_options a:hover {
  background-color: #F2F2F2
}

.dropdown_options{
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.newdropdown_options{
  transform: scaleY(1);
}

.class-options{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  text-align: center;
  width: 320px;
  padding: 15px;
  border:none;
  background: #FFFFFF;
  border-radius: 10px;
}

.success_message{
  display: flex;
  margin-top:75px;
  font-weight:700;
}

.reload_button{
  width:auto;
  height:35;
  border-radius:10px;
  background: #FFFFFF;
}
