.upload_reading_text{
  text-align: center;
  margin-top: 25vh;
}

.upload_box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 354px;
  height: 204px;
  padding: 15px;
  border:none;
  background: #DADADA;
  border-radius: 10px;
}

.upload_method{ 
  width: 322px;
  margin-top: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}

.class_selection{
  width: 322px;
  margin-top: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}

.upload_button{
  width: 104px;
  margin-top: 30px;
  border-radius: 10px;
  background: #FFFFFF;
  line-height: 40px;
  font-size: 20px;
}